
/*-- scss:rules --*/

#quarto-sidebar {
    top: 0px;
    max-height: 100vh;
    padding-left: 0px;
    margin-left: -14px;
    padding-top: 0;
}

.sidebar-title {
    font-size: 1.1rem;
    margin-top: 0;
    line-height: 1.3;
    color: #4D6F8D;
}

#quarto-sidebar>.align-items-center{
  padding-top: 0px;
}

.sidebar-navigation .sidebar-item {
  font-size: .9rem;
  margin-bottom: 0.5rem;
}

.sidebar-item-text .menu-text,
.sidebar-item .chapter-number,
#TOC .nav-link,
#quarto-margin-sidebar .toc-action{
  color: #4D6F8D;
}

.sidebar-item-section > :first-child .menu-text{
  color: #000;
}

.nav-footer{
  background-color: #4D6F8D;
  color: white;
}

.nav-footer-center .toc-action{
  color: white;
}

.nav-page-previous,
.nav-page-next {
  padding: .5rem;
  border: 1px solid #eee;
  border-radius: .2rem;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.nav-page-previous:not(:has(> *)),
.nav-page-next:not(:has(> *)) {
  padding: .5rem;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}

.footer {
  margin-top: 10px;
}

.nav-page a {
    color: #4D6F8D;
}

.nav-page a:hover {
    color: #4D6F8D;
}
